header, footer {
  z-index: 9999;
}

footer {
  background-color: #343635;
}

footer p,
footer ul li a {
  color: white;
}

a {
  text-decoration: none;
}

nav {
  line-height: 60px;
}

.logo {
  font-size: 4rem;
  font-weight: bold;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  font-family: 'Bodoni Moda', serif;
}

span {
  font-size: 30px;
}

.center-nav {
  left: 5%;
}

 .center-nav ul li:hover {
   background-color: #f0f0f0;
 }

@keyframes rainbow {
  0% {
    color: red;
  }
  15% {
    color: orange;
  }
  30% {
    color: yellow;
  }
  45% {
    color: green;
  }
  60% {
    color: blue;
  }
  75% {
    color: indigo;
  }
  100% {
    color: violet;
  }
}

.logo, .center-nav ul li a {
  color: #525354
}

.fab {
  font-size: 1.5rem;
  color: #000;
}

.fa-facebook-square:hover {
  color: #4267B2;
}

.fa-twitter-square:hover {
  color: #1dA1F2;
}

.fa-instagram:hover {
  color: #C13584;
}

.fa-linkedin:hover {
  color: #2867B2;
}

h1 {
  font-family: 'Bodoni Moda', serif;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 1rem;
  background-color: #008073;
}

.with_hover_effects {
  transform: scale(1.01);
  margin-top: 10px;
  margin-bottom: 10px;
  transition: ease 1s;
}

.html:hover {
  box-shadow: 2px -2px 22px 0px #e34c26;
}

.ruby:hover {
  box-shadow: 2px -2px 22px 0px #820C02;
}

.rails:hover {
  box-shadow: 2px -2px 22px 0px #cc0000;
}
/* * {
  border: 1px solid red;
} */